<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="/fragments/header.html :: fragment-header"></div>

</head>

<body id="page-top">

<div th:replace="/fragments/header_title.html :: fragment-header_title"></div>

<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/menu.html :: fragment-nav"></div>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- DataTables Example -->
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    게시판 조회</div>
                검색어 : <input id="searchText" name="searchText" placeholder="이곳에 검색어를 입력해주세요" type="text" />

                기사 검색 정렬 선택
                <select id="searchType">
                    <option selected="selected" value="date">날짜순</option>
                    <option value="sim">관련도순</option>
                </select>
                <input id="goSearch" onclick="" type="button" value="조회" />
                검색 결과 : <div id="resultCount">0건</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>등록 시간</th>
                                <th>수정 시간</th>
                            </tr>
                            </thead>
                            <tbody id="articleList">
                            <tr>
                                <td colspan="5">검색 조건 설정 후 조회 버튼을 클릭해주세요</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div aria-live="polite" class="dataTables_info" id="dataTable_info" role="status"></div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination" id="pageList">

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="card-footer small text-muted"></div>
            </div>
            <input id="btnRegist" name="title" type="button" value="등록하기" />



        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <div th:replace="/fragments/footer.html :: fragment-footer"></div>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div th:replace="/fragments/script.html :: fragment-script"></div>
<script type="text/javascript">

$(document).ready(function(){
   $('#btnRegist').on("click",function(){
      location.href="/board/" + "[[${boardNo}]]/regist";
   });

   ajaxRequest("get","board/[[${boardNo}]]?page=1&pageSize=10",null,
       successFunction,errorFunction);
});
function successFunction(result) {
    if(result.result.code == "0000") {
        var dataList = result.dataList.content;
        $('#articleList').empty();
        var appendHtml = "";
        for(var i = 0; i < dataList.length; i++) {
            appendHtml += "<tr>";
            appendHtml += "   <td>" + dataList[i].no + "</td>";
            appendHtml += "   <td><a href='/board/" + dataList[i].boardNo + "/detail/" + dataList[i].no + "'>"
                + dataList[i].title + "</a></td>";
            appendHtml += "   <td>" + dataList[i].memberId + "</td>";
            appendHtml += "   <td>" + dataList[i].createDate + "</td>";
            appendHtml += "   <td>" + dataList[i].updateDate + "</td>";
            appendHtml += "</tr>";
        }
        $('#articleList').append(appendHtml);

    }
    else {
        alert("조회 결과가 없습니다.");
    }
}
function errorFunction(err) {
    alert("게시글 조회 중 오류가 발생하였습니다.");
}
</script>

</body>

</html>
