<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-nav">
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/naver/news">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>네이버 뉴스 검색</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/member/address/new">
                <i class="fas fa-fw fa-table"></i>
                <span>날씨 확인</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/member/dupaddress">
                <i class="fas fa-fw fa-table"></i>
                <span>중복 주소록 조회</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/member/dupaddressDelete">
                <i class="fas fa-fw fa-table"></i>
                <span>중복 주소록 삭제</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-table"></i>
                <span>로그아웃</span></a>
        </li>
    </ul>
</div>
</html>