<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="/fragments/header.html :: fragment-header"></div>

</head>

<body id="page-top">

<div th:replace="/fragments/header_title.html :: fragment-header_title"></div>

<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/menu.html :: fragment-nav"></div>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    네이버 뉴스 조회</div>
                검색어 : <input type="text" name="searchText" id="searchText" placeholder="이곳에 검색어를 입력해주세요" />
                <select id="viewSize">
                    <option value="10" selected="selected">10개씩 보기</option>
                    <option value="20">20개씩 보기</option>
                    <option value="30">30개씩 보기</option>
                </select>
                기사 검색 정렬순
                <select id="searchType">
                    <option value="date" selected="selected">날짜순</option>
                    <option value="sim">관련도순</option>
                </select>
                <input type="button" id="goSearch" value="검색" onclick="listCall()" />
                검색 결과 : <div id="resultCount">0건</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>제목</th>
                                <th>네이버 뉴스 링크</th>
                                <th>언론사 링크</th>
                                <th>요약</th>
                                <th>기사 작성 일자</th>
                            </tr>
                            </thead>
                            <tbody id="articleList">
                                <tr>
                                    <td colspan="5">검색 조건 설정 후 검색 버튼을 클릭해주세요</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"></div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination" id="pageList">

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="card-footer small text-muted"></div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <div th:replace="/fragments/footer.html :: fragment-footer"></div>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div th:replace="/fragments/script.html :: fragment-script"></div>
<script type="text/javascript">
    var currentMemberId = "[[${currentMemberId}]]";
    $(document).ready(function(){

        //listCall(1,10);

    });

    function listCall() {
        if($('#searchText').val() == "") {
            alert("검색어를 입력해주세요.");
            $('#searchText').focus();
            return;
        }
        $('#articleList').empty();
        $('#articleList').append('<tr>\n' +
            '<td colspan="5">조회 중입니다.</td>\n' +
            '</tr>');

        $.ajax({
            type : 'get',
            contentType : 'application/json',
            url : '/naver/GetNews?offset=1&pageSize=' + $('#viewSize').val()
                + '&searchText=' + $('#searchText').val() + "&sort=" + $('#searchType').val(),
            success : function(result) {
                appendList(JSON.parse(result));
            },
            error : function (xhr, status, error) {
                alert("오류가 발생하였습니다.");
            }

        });
    }

    function appendList(result) {

        $('#articleList').empty();

        var _articleList = $('#articleList');
        var _list = result.items;
        $('#resultCount').text(result.total + "건 조회 되었습니다.");
        //var _currentPage = result.address.pageable.pageNumber + 1;

        for(var i = 0; i < _list.length; i++) {
            _articleList.append("<tr>");
            _articleList.append("<td>" + _list[i].title + "</td>");
            _articleList.append("<td><a href='" + _list[i].link + "'>네이버 뉴스 바로가기</a></td>");
            _articleList.append("<td><a href='" + _list[i].originallink + "'>언론사 뉴스 바로가기</a></td>");
            _articleList.append("<td>" + _list[i].description + "</td>");
            _articleList.append("<td>" + moment(_list[i].pubDate).format('YYYY-MM-DD HH:mm:ss') + "</td>");
            _articleList.append("</tr>");
        }

    }

    function pagination(result) {
        var currentPage = result.address.pageable.pageNumber + 1;
        var totalPages = result.address.totalPages;
        var totalElements = result.address.totalElements;

        // 페이징에 총 표시할 페이지 수는 6개
        $('#dataTable_info').text("총 " + totalElements + "개의 데이터가 있습니다.");
        var currentPageMod = currentPage % 6;
        var visibleLastPage = currentPage + (6 - currentPageMod);

        //현재 페이지가 6의 배수 일 때
        if(currentPageMod == 0) {
            visibleLastPage = currentPage;
        }

        var visibleFirstPage = visibleLastPage - 5;
        var pageList = $('#pageList');
        pageList.empty();
        if(visibleLastPage > totalPages) {
            visibleLastPage = totalPages;
        }

        if(visibleFirstPage != 1) {
            pageList.append('<li class="paginate_button page-item previous" id="dataTable_previous">\n' +
                '<a href="javascript:listCall('+ (visibleFirstPage - 1) +',10);" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>\n' +
                '</li>');
        }

        for(var i = visibleFirstPage ; i <= visibleLastPage; i++) {
            pageList.append('<li class="paginate_button page-item ' + ((currentPage === i) ? "active" : "") + '">\n' +
                '<a href="javascript:listCall(' + i + ',10);" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">'+ i +'</a>\n' +
                '</li>');
        }

        if(visibleLastPage != totalPages) {
            pageList.append('<li class="paginate_button page-item next" id="dataTable_next">\n' +
                '<a href="javascript:listCall('+ (visibleLastPage + 1) +',10);" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>\n' +
                '</li>');
        }

    }

    function addressDelete(addressNo, currentPage) {
        if(confirm("삭제하시겠습니까?")) {
            $.ajax({
                type: 'delete',
                contentType: 'application/json',
                url: '/api/v1/members/' + currentMemberId + '/address/' + addressNo,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-API-CLIENT-CODE", "00000");
                    xhr.setRequestHeader("X-API-KEY", "ADGQ9875GUEHQLDOEJIEYIOPEJGBQKIH");
                },
                success: function (result) {
                    alert(result.resultMessage);
                    if (result.resultCode == "0000") {
                        listCall(currentPage, 10);
                    }
                },
                error: function (xhr, status, error) {
                    alert("오류가 발생하였습니다.");
                }

            });
        }
    }
</script>

</body>

</html>
